.options {
    display: inline;
    margin: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: 700;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
    text-transform: capitalize;
}
.options:hover {
    cursor: pointer;
    background-color: #2a85c6;
}